.home-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 5px;
}

.search-input{
    padding: 10px;
}

.search-btn{
    padding: 12px 20px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.cart{
    padding: 10px;
    border: 1px solid black;
    margin-right: 10px;
}